/* html{
    background-color: #ccc;
  }
   */
/* .ordersPage{
    width: 100%;
    height: 100%;
    background-color: #ccc;
   
} */

.background{
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    /* background-size: cover; */

    position: fixed;
    top: 0;
    z-index: -1;
}

.headingBar h1{
    margin-top: 0;
}

.headingBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    margin-top: 80px;
}


.headingBar button{
    width: 30%;
   
    background-color: rgb(4, 147, 54);
    color: white;
    padding: 5px 60px;
    border: 2px solid black;
    border-radius: 5px;
}

.headingBar h1, p, button{
    vertical-align: middle;
    margin-bottom: 0;
}

.mainBody{
  width: 85%;
  height: 65%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h2,h3,h4{
    margin-top: 0;
}

.div1,.div2,.div3,.div4,.div5{
    width: 45%;
    padding: 15px;
    border: 2px solid #ccc;
    margin-bottom: 5px;
    
}
.div5{
    width: 94%;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    text-align: center;
}

/* .div5 div{
    width: 45%;
    padding: 15px;
    border: 2px solid #ccc;
    margin-bottom: 5px;
} */
